<!DOCTYPE html>
<html ng-app="front">
  <head>
    <meta charset="utf-8">
    <title>Angular Stack Setup</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>

  <body ng-controller="MainCtrl as main">


   <ul ng-repeat="restaurant in main.restaurants">
    <li >Address: {{ restaurant.address }} </li>
    <li >Name: {{ restaurant.name }} </li>
    <li >Description:{{ restaurant.description }} </li>
    <li >Comments: {{ restaurant.reviews }} </li>
  <img ng-src="{{ restaurant.image }}"
alt="{{ restaurant.name }} s image." width="200px" height="300px">
    <ul ng-repeat="review in main.reviews">
     <li >Comments: {{ review.content }} </li>
   </ul>



  </body>
</html>
